@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*
*
* COLOR VARIABLES
*
*/

:root {
  --jungle-green: #26A69A;
  --java: #1DE9B6;

  --alabaster: #fafafa;
  --gallery: #eee;
  --alto: #dedede;
	--silver-chalice: #9e9e9e;
	--tundora: #424242;
	--mine-shaft: #212121;
}


/*
*
* BASE STYLES
*
*/

html, body, main, #root, .app {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: var(--alabaster);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
	flex-wrap: wrap;
}



/*
*
* MAIN PAGE
*
*/

/* === Top Navigation === */

.top-nav {
  padding: 10px 0;
  background: var(--mine-shaft);
}

.top-nav h1 {
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--alabaster);
}


/* === List View === */

.list-view{
  order: 1;
	width: 30%;
  height: 100%;
  background: var(--alto);
}

.list-view select  {
  display: block;
  width: 90%;
  height: 30px;
  margin: 20px;
  font-size: 1em;
  border: none;
  border-radius: none;
  outline: none;
}

.locations-list {
  margin:0;
  padding: 0;
}

.locations-list a {
  display: block;
  padding: 10px 20px;
}

.locations-list a:hover{
  background-color: var(--silver-chalice);
  cursor: pointer;
}


/* === Google Map === */

.map {
  order: 2;
	margin: 0;
  right: 0;
  width: 70% !important;
  height: 91% !important;
  background-color: var(--alabaster);
}
