@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

/*
*
* COLOR VARIABLES
*
*/

:root {

  --alabaster: #fafafa;
	--mine-shaft: #212121;
}


/*
*
* BASE STYLES
*
*/

html, body, main, #root, .app {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--alabaster);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
	flex-wrap: wrap;
}

hr {
  margin: 0;
}



/*
*
* MAIN PAGE
*
*/

/* === Top Navigation === */

.top-bar {
  padding: 10px 0;
  background: var(--mine-shaft);
}

.top-bar h1 {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
  color: var(--alabaster);
}


/* === List View === */

.list-view{
  order: 1;
	width: 30%;
  height: 100%;
  background: var(--alabaster);
  z-index: 100;
  overflow-y: scroll;
}

.list-view-wrapper {
   padding: 10px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.location-select  {
  width: 100%;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.locations-list {
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


/* === Google Map === */

.map {
  order: 2;
	margin: 0;
  right: 0;
  width: 70%;
  height: 100%;
  background-color: var(--alabaster);
}


.gm-style-iw + button {
  display: none !important;
}

.info-window {
  font-weight: 400;
}

.info-window-title {
    font-size: 1rem;
    line-height: 1rem;
    letter-spacing: 0.00937em;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
    padding: 8px 0;
}

.info-window-subtitle {
  margin-top: 0;
  font-size: 0.875rem;
  line-height: .8rem;
  letter-spacing: 0.01786em;
  color: rgba(0, 0, 0, 0.54)
}
